form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    margin-top: 300px;
    color: white;
    font-size: 20px;
  }
  
  label {
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  